.backdrop {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background: rgba(0,0,0,0.75);

  z-index: 10;
}

.modal {
  position: fixed;

  top: 20vh;

  left: 20%;

  width: 60%;

  background: white;

  padding: 2rem;

  border-radius: 14px;

  z-index: 100;

  animation: slide-down .3s ease-out;
}

li {
  list-style: none;

  display: flex;

  justify-content: space-between;

  margin-bottom: 1rem;

  border-bottom: 1px solid #ddd;

  padding-bottom: 1rem;
}

.total {
  display: flex;

  justify-content: space-between;

  margin-top: 1rem;
}

.actions {
  display: flex;

  align-items: flex-end;

  gap: 1rem;

  margin-top: 1rem;
}

.actions button {
  padding: .5rem 1.5rem;

  border-radius: 20px;

  border: none;

  cursor: pointer;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-items {
  max-height: 300px;

  overflow-y: auto;
}
cart-item{
  display: flex;

  justify-content: space-between;

  margin-bottom: 1rem;
}